In [161]:
import glob
import pandas as pd

In [162]:
csv_files = glob.glob("./data/*.csv")

In [163]:
csv_files

['./data/rickandmorty.csv', './data/mnist_test.csv']

In [164]:
df_list = (pd.read_csv(file) for file in csv_files)

In [165]:
big_df   = pd.concat(df_list, ignore_index=True)

In [166]:
big_df

,name,line,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,Rick,Morty! You gotta come on. Jus'... you gotta co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Morty,"What, Rick? What’s going on?",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rick,"I got a surprise for you, Morty.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Morty,It's the middle of the night. What are you tal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rick,"Come on, I got a surprise for you. Come on, h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11899,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11900,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11901,NaN,NaN,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11902,NaN,NaN,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11903,NaN,NaN,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
df = pd.read_csv('./data/rickandmorty.csv')

In [168]:
df

       name                                               line
0      Rick  Morty! You gotta come on. Jus'... you gotta co...
1     Morty                       What, Rick? What’s going on?
2      Rick                   I got a surprise for you, Morty.
3     Morty  It's the middle of the night. What are you tal...
4      Rick  Come on, I got a surprise for you.  Come on, h...
...     ...                                                ...
1899   Rick               Whoa!! Hahaha, yeah! Atlantis, baby!
1900  Morty                                  That was amazing!
1901   Rick                     Got some of that mermaid puss!
1902  Morty  I'm really hoping it wasn't a one-off thing an...
1903   Rick  Pssh! Not at all, Morty. That place will never...

[1904 rows x 2 columns]

In [169]:
import pandas as pd

# Assuming you have a DataFrame named df

# Identify rows with the desired key-value
selected_rows = df[df['name'] == 'Rick']

# Get the indices of the selected rows
selected_indices = selected_rows.index
selected_indices = selected_indices[selected_indices != 0]

# Add the previous row indices to the selected indices
previous_indices = selected_indices - 1

dfInp = df.loc[previous_indices]
dfOp = df.loc[selected_indices]

In [170]:
dfInp.columns = ['Name', 'Input']
dfInp = dfInp.drop(['Name'], axis=1)
dfInp = dfInp.reset_index(drop=True)
dfOp.columns = ['Name', 'Output']
dfOp = dfOp.drop(['Name'], axis=1)
dfOp = dfOp.reset_index(drop=True)

dfInp = dfInp.join(dfOp['Output'])

In [171]:
dfInp

,Input,Output
0,"What, Rick? What’s going on?","I got a surprise for you, Morty."
1,It's the middle of the night. What are you tal...,"Come on, I got a surprise for you. Come on, h..."
2,Ow! Ow! You're tugging me too hard!,"We gotta go, gotta get outta here, come on. Go..."
3,"We gotta go, gotta get outta here, come on. Go...","What do you think of this... flying vehicle, M..."
4,"Yeah, Rick... I-it's great. Is this the surprise?",Morty. I had to... I had to do it. I had— I ha...
...,...,...
414,Every day.,You don’t have to be a dick.
415,Geez. I didn’t know there were still Ricks and...,"Well, you can keep wondering that while we go ..."
416,Holy crap... Slick's wish came true.,"Whoa!! Hahaha, yeah! Atlantis, baby!"
417,That was amazing!,Got some of that mermaid puss!
418,I'm really hoping it wasn't a one-off thing an...,"Pssh! Not at all, Morty. That place will never..."

In [172]:
dfOp

                                                Output
0                     I got a surprise for you, Morty.
1    Come on, I got a surprise for you.  Come on, h...
2    We gotta go, gotta get outta here, come on. Go...
3    What do you think of this... flying vehicle, M...
4    Morty. I had to... I had to do it. I had— I ha...
..                                                 ...
414                       You don’t have to be a dick.
415  Well, you can keep wondering that while we go ...
416               Whoa!! Hahaha, yeah! Atlantis, baby!
417                     Got some of that mermaid puss!
418  Pssh! Not at all, Morty. That place will never...

[419 rows x 1 columns]

In [173]:
df

       name                                               line
0      Rick  Morty! You gotta come on. Jus'... you gotta co...
1     Morty                       What, Rick? What’s going on?
2      Rick                   I got a surprise for you, Morty.
3     Morty  It's the middle of the night. What are you tal...
4      Rick  Come on, I got a surprise for you.  Come on, h...
...     ...                                                ...
1899   Rick               Whoa!! Hahaha, yeah! Atlantis, baby!
1900  Morty                                  That was amazing!
1901   Rick                     Got some of that mermaid puss!
1902  Morty  I'm really hoping it wasn't a one-off thing an...
1903   Rick  Pssh! Not at all, Morty. That place will never...

[1904 rows x 2 columns]

In [174]:
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer

In [175]:
def preprocess_text(text):
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Convert to lowercase
    text = text.lower()
    # Return preprocessed text
    return text

In [176]:
dfInp['Input'] = dfInp['Input'].apply(preprocess_text)
dfInp['Output'] = dfInp['Output'].apply(preprocess_text)

In [182]:
dfInp['Input'].to_csv('./data/data_input', index=False)

In [134]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(dfInp['Input'])
y = dfInp['Output']

In [135]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [136]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [137]:
svm = SVC()
svm.fit(X_train, y_train)

SVC()

In [150]:
y_pred = svm.predict(X_test[1])

In [151]:
y_pred

array(['season  nine more seasons morty nine more seasons until i get that dipping szechuan sauce'],
      dtype=object)

In [140]:
X_test

<84x1260 sparse matrix of type '<class 'numpy.float64'>'
	with 927 stored elements in Compressed Sparse Row format>

In [186]:
data = "hi"
df = pd.read_csv('./data/data_input')
data = pd.DataFrame({'Input':[data]})
data = data._append(df, ignore_index=True)

In [187]:
data

                                                 Input
0                                                   hi
1                             what rick whats going on
2    its the middle of the night what are you talki...
3                      ow ow youre tugging me too hard
4    we gotta go gotta get outta here come on got a...
..                                                 ...
415                                          every day
416  geez i didnt know there were still ricks and m...
417                    holy crap slicks wish came true
418                                   that was amazing
419  im really hoping it wasnt a oneoff thing and i...

[420 rows x 1 columns]

In [188]:
data['Input'] = data['Input'].apply(preprocess_text)
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['Input'])

In [191]:
y = svm.predict(X)

In [195]:
y[0]

'you guys should really not be touching that stuff its beyond your reasoning'

In [196]:
def load_model():
    filename = '/Users/abhinavkumarsingh/discord-chatbot/bot/bot/models/model_latest.pkl'
    loaded_model = pickle.load(open(filename, 'rb'))
    return loaded_model

In [201]:
def remove_punctuation(text):
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Convert to lowercase
    text = text.lower()
    # Return preprocessed text
    return text

def load_model():
    filename = '/Users/abhinavkumarsingh/discord-chatbot/bot/bot/models/model_latest.pkl'
    loaded_model = pickle.load(open(filename, 'rb'))
    return loaded_model

def preprocess_text(data):
    df = pd.read_csv('/Users/abhinavkumarsingh/discord-chatbot/bot/bot/data/data_input')
    data = pd.DataFrame({'Input':[data]})
    data = data._append(df, ignore_index=True)

    data['Input'] = data['Input'].apply(remove_punctuation)

    print(data['Input'])

    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(data['Input'])
    return X

def predict_data(data):
    svm = load_model()
    y = svm.predict(data)
    
    return y[0]

print(predict_data(preprocess_text('hi!')))

0                                                     hi
1                               what rick whats going on
2      its the middle of the night what are you talki...
3                        ow ow youre tugging me too hard
4      we gotta go gotta get outta here come on got a...
                             ...
415                                            every day
416    geez i didnt know there were still ricks and m...
417                      holy crap slicks wish came true
418                                     that was amazing
419    im really hoping it wasnt a oneoff thing and i...
Name: Input, Length: 420, dtype: object

NameError: name 'pickle' is not defined